@media only screen and (max-width: 767px) {

    .navbar-header .navbar {
        padding: 10px 15px;
    }
    .hero:after{
        display: none;
    }
   .plan_table{
       margin-bottom: 30px;
   }
   .subscribe-form{
       width:100%;
   }
    .navbar-toggler-icon {
        height: auto;
        color: #20bdea;
        font-size: 25px;
    }
    .navbar-header .navbar.sticky  .navbar-toggler-icon{
        color: #20bdea;
    }
    .navbar-header .navbar-nav li a {
        color: #171f3c;
        font-size: 15px;
        padding: 10px 12px !important;
        font-weight: 500;
        line-height: 30px;
    }
    .navbar-toggler {
        color: #fff;
        font-size: 35px;
        line-height: 38px;
        padding: 5px 0;
        margin-right: 0;
    }
    .navbar-nav {
        background-color: #fff;
        padding-bottom: 15px;
    }
    .navbar-header .connect-block {
        margin-left: 0;
        margin-top: 0;
    }
    .navbar-header .connect-block a {
        display: block;
    }
    .navbar-header .connect-block .btn-white {
        color: #171f3c !important;
        text-align: left;
    }
    .hero-text {
        padding-top: 80px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .hero-text h2 {
        font-size: 45px;
        margin-bottom: 20px;
        line-height: 50px;
    }
    .title-h2 {
        font-size: 32px;
        line-height: 35px;
    }
    img.img-width {
        width: 100%;
        margin-bottom: 25px;
    }
    .tab_img {
        margin-top: 50px;
    }
    .timeline-p {
        padding-top: 75px;
    }

    .features-text,
    .quote-bloc p ,
    .icon-block,
    .number-block {
        margin-bottom: 30px;
    }
    .item-inner {
        padding: 0 20px;
    }
    .item-inner p {
        font-size: 15px;
        line-height: 24px;
    }


    .navbar-header .navbar.sticky li a{
      color: #3b455a ;  
  }
  .navbar-header .navbar.sticky .navbar-nav,
  .navbar-header .navbar.sticky .btn-white {
    background-color: transparent;
}

.testimonial-slider .slick-arrow.slick-prev {
    left: 15%;
}
.testimonial-slider .slick-arrow.slick-next {
    right: 35%;
}
.content-form .row.form-group input[type="text"]{
  margin-bottom: 20px!important;
}
.content-form {
    padding: 60px 0 0 0;
}
.row.row-mobile,
#about-features .row{
    margin-right: 0;
    margin-left: 0;
}
.hero{
    height: auto;
  
}
.list_block_2{
    margin-bottom: 40px;
}
#testimonials .block-text{
    padding-top:40px;
}
.padd-text {
    margin-bottom: 30px;
    padding-top: 0;
}
.hero-padd {
    margin-left: 0;
    margin-right: 0;
    padding-top: 100px;
}
.service-block {
    padding-left: 30px;
}
 
.pd-rg-0 ,.pd-lf-0{
    padding-left: 0!important;
    padding-right: 0 !important;
}

.copyright p{
    margin-top: 10px;
    line-height: 20px;   
}
 
.testimonial-slider .slick-list{
    padding: 0!important;
}
 
.text-features {
    padding-top: 0;
}
 
.testimonial-slider .slick-dots {
    position: absolute;
    bottom: -10%;
    left: 6%;
}
.subscribe-form .btn-subscribe{
  width: 100%;
  position: relative;
  margin-top: 25px;
  top: 0;
}
.menu-list{
    text-align: center;
}
footer .navbar-brand{
    margin:30px 0;
}
 
.block-text h2{
    font-size: 30px;
    line-height: 38px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
   .navbar-header .navbar.sticky  .navbar-toggler-icon{
    color:#20bdea;    
}
.menu-list li { 
    margin-right: 15px;
}
.block-pricing h2{
    line-height: 28px;
    font-size: 22px;
}
.plan_table h3 {
    font-size: 20px;
}
.plan_table .price {
    line-height: 36px;
    font-size: 30px;
}
.plan_table {
    padding: 30px 10px;
}
.plan_table ul li span {
    line-height: 18px;
    font-size: 13px;
}
.plan_table ul li {
    margin-bottom: 0;
}
.plan_table .btn-primary{
font-size: 12px;
}
.block-text h2{
    font-size: 30px;
    line-height: 38px;
}
.navbar-toggler-icon {
    font-size: 25px;
}
 
.service-block h3{
  font-size:15px;
  margin-bottom:5px;
}
.bg-image-left{
    min-height: 600px;    
}
.box-service.small-box-service .box-service-img {
    height: 180px;
}
.box-service.big-box-service .box-service-img {
    height: 380px;
}
.box-service-content{
  bottom: 40%;  
}
.newsletter-block-blog .subscribe-form .form-control{
    width: 80%;
}
.item-inner {
    padding: 0 55px;
}
.item-inner p {
   line-height: 24px;
font-size: 15px;
}
.testimonial-slider .slick-dots {
   left: 42%;
}
.hero-padd {
    padding-top: 80px;
    padding-bottom: 80px;
}

.service-block {
    padding-left: 20px;
}

.icon-block.color2-block {
   top: 0;
   right: 0;
}

.hero-text{
    padding-top: 80px;
}
.hero-text p{
    font-size: 20px;
    line-height:24px;
}
.hero {
    height: 100%;
    padding-bottom:80px;
}

.navbar-header .navbar.sticky li a,
.navbar-header .navbar.sticky .search-box-btn {
    color: #fff !important;
}
.navbar-header .navbar.sticky .navbar-nav,
.navbar-header .navbar.sticky .btn-white {
    background-color: transparent;
}

.navbar-header .navbar-nav li a {
    font-size: 15px;
    padding: 10px 12px !important;
    line-height: 30px;
}
.hero-text h2 {
    font-size: 32px;
    line-height: 38px;
}
.navbar-toggler {
    color: #fff;
    font-size: 35px;
    line-height: 38px;
    padding: 15px 0;
    margin-right: 15px;
}
 
.title-h2 {

    font-size: 35px;
    
    line-height: 42px;
}
 
.navbar-header .navbar.sticky .navbar-brand {
    padding: 0 15px;
}
.navbar-header .navbar.sticky .navbar-toggler {
    padding: 15px 0;
}
.navbar-nav {
    padding: 15px;
    background-color: #fff;
}
.navbar-header .navbar-nav li a {
    color: #171f3c;
    font-size: 15px;
    padding: 10px 12px !important;
    font-weight: 500;
    line-height: 30px;
}
#about {
    padding-top: 80px;
}
 
.subscribe-form .form-control {
    width: 80%;
}
.row.row-mobile,
#about-features .row{
    margin-right: 0;
    margin-left: 0;
}
.blog-inner h3 a {
 font-size: 16px;
 line-height: 20px;
 }

 
 
.testimonial-slider .slick-dots {
  left: 32%;
}
.subscribe-form .form-control{

    width: 82%;
}
.row.row-mobile,
#about-features .row{
    margin-right: 0;
    margin-left: 0;
}
 
 
}
 
